* {
  box-sizing: border-box;
}
html {
  font-family: var(--font-family-headline);
  color: var(--color-text);
  background-color: var(--color-bg);
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
.blad-wrapper {
  position: relative;
}
.leaf1 {
  position: absolute;
  top: 28%;
  left: 80%;
  width: 8vw;
  aspect-ratio: 1;
  background-image: url("../img/svg/leaf1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 98px;
}

h1 {
  font-family: var(--font-family-headline);
  font-size: var(--font-h1-size);
  color: var(--color-text-hero);
  padding-top: 0.5em;
}
h2 {
  font-family: var(--font-family-headline);
  font-size: var(--font-h2-size);
  color: var(--color-text-headline);
}
h3 {
  font-family: var(--font-family-headline);
  font-size: var(--font-h3-size);
  color: var(--color-text-headline);
}
p {
  font-family: var(--font-family-text);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
}
main img {
  display: block;
  border-radius: var(--border-radius);
  max-width: 100%;
  border: solid white 5px;
}
.section3 {
  background-color: var(--color-bg-accent);
  padding: 0 1em 5em 1em;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin: 0 1em 0 1em;
}

.hero {
  position: relative;
  max-width: 100%;
  padding: 0 1em;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  position: absolute;
  font-size: var(--font-hero-size);
  top: 35%;
  left: 50%;
  text-align: center;
  line-height: 1;
  color: var(--color-text-inverted);
  transform: translate(-50%, -50%);
}
.hero a {
  position: absolute;
  font-size: var(--font-cta-size);
  top: 85%;
  left: 70%;
  text-align: center;
  color: var(--color-text-inverted);
  transform: translate(-50%, -50%);
  background-color: var(--color-head-bg);
  padding: 0.3rem 0.8rem;
  border-radius: 100px 25px 100px 25px;
  text-decoration: none;
}

.hero svg {
  padding: 5px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  pointer-events: none;
}
.hero > svg:nth-of-type(2) {
  height: 80%;
}
.hero > svg:nth-of-type(3) {
  height: 60%;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.hero > svg:nth-of-type(4) {
  height: 60%;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
}

header {
  margin: 1rem;
}
header nav {
  border-radius: 50px;
  box-shadow: 0 0 0.25rem 0.25rem rgb(0 0 0 / 25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-head-bg);
  a {
    text-decoration: none;
    color: var(--color-text-cta-header);
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
  p {
    font-size: var(--font-header-size);
    font-family: var(--font-family-headline);
    color: var(--color-text-hero);
    margin: 0;
  }
  li a {
    margin: 0.5em;
    background-color: var(--color-bg);
    color: var(--color-text-cta-header);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 100px 25px 100px 25px;
    box-shadow: inset 0 0 0.2rem 0.2rem rgb(0 0 0 / 25%);
  }
}
a {
  font-family: var(--font-family-headline);
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
}

.logo a img {
  display: block;
  height: 10vw;
  margin: 1rem 0 1rem 1rem;
}

.img-on-text {
  display: grid;
  padding: 1em;
}
.text {
  padding: 0 1em;
  h2 {
    font-size: var(--font-text-size);
  }
  h3 {
    font-size: var(--font-h3-size);
  }
}

.img-on-text img {
  display: block;
  grid-area: 1 / 1;
  max-width: 100%;
}

.img-on-text h2 {
  grid-area: 1 / 1;
  place-self: start;
  padding-left: 0.5em;
  color: white;
  text-align: start;
  width: 75%;
  font-size: var(--font-header-size);
}

.section3 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.big-right {
  aspect-ratio: 1 / 1;
}
.big-left {
  aspect-ratio: 1 / 1;
}
.small-1 {
  aspect-ratio: 1 / 1;
}
.small-2 {
  aspect-ratio: 1 / 1;
}

footer {
  p {
    padding: 3em 0 3em 1em;
    background-color: var(--color-footer);
    color: var(--color-text-inverted);
    margin: 0 1em 0 1em;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  div:nth-of-type(4) {
    padding: 3em;
    background-color: var(--color-bg);
  }
}
@media (width > 900px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
  }
  .img-on-text h2 {
    font-size: var(--font-h2-size);
  }
  .text {
    padding-left: 0;
  }
  .big-left {
    grid-column: 1;
    grid-row: 1 / span 2;
    aspect-ratio: 3 / 5;
  }
  .big-right {
    grid-column: 2 / span 2;
    grid-row: 1;
    aspect-ratio: 5 / 2.3;
  }

  .small-1 {
    grid-column: 2;
    grid-row: 2;
  }

  .small-2 {
    grid-column: 3;
    grid-row: 2;
  }
}
